{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="columns is-mobile is-centered">
    <div class="column">

        {% for post_item in post_items %}
        <div class="card">
            {% if post_item.content.first.file.name|slice:'-3:' in "jpgpng" %}
            <div class="card-image">
                <figure class="image is-4by3">
                    <a href="{{ post_item.get_absolute_url }}"><img src="{{ post_item.content.first.file.url }}"
                            alt="Image"></a>
                </figure>
            </div>
            {% else %}
            <div class="card-image">
                <figure class="image is-4by3">
                    <video controls="controls" preload="metadata">
                        <source src="{{ post_item.content.first.file.url }}#t=0.5" type="video/mp4">
                </figure>
            </div>
            {% endif %}
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            {% if post_item.user.profile.picture %}
                            <img src="{{ post_item.user.profile.picture.url }}" alt="mage">
                            {% else %}
                            <img src="{% static 'img/default.png' %}" alt="mage">
                            {% endif %}
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="title is-4">
                            <a href="{% url 'profile' post_item.user %}">
                                {{ post_item.user.first_name }}

                                {{ post_item.user.last_name }}
                            </a>
                        </p>
                        <p class="subtitle is-6">
                            <a href="{% url 'profile' post_item.user %}">
                                @{{ post_item.user.username }}
                            </a>
                        </p>

                        {{ post_item.caption }}
                        <p>
                            {% for tag in post_item.tags.all %}
                            <a href="{{ tag.get_absolute_url }}">#{{ tag }}</a>
                            {% endfor %}
                        </p>
                        <br>
                        <strong><small>{{ post_item.posted }}</small></strong>
                    </div>
                    {% if post_item.id in liked_posts %}

                    <div class="media-right">
                        <a href="{% url 'postlike' post_item.id %}">
                            <i class="material-icons has-text-danger">favorite</i>
                            <p class="has-text-danger">{{ post_item.likes }} Likes</p>
                        </a>
                    </div>
                    {% else %}
                    <div class="media-right">
                        <a href="{% url 'postlike' post_item.id %}">
                            <i class="material-icons has-text-danger">favorite_border</i>
                            <p class="has-text-danger">{{ post_item.likes }} Likes</p>
                        </a>
                    </div>
                    {% endif %}
                </div>

            </div>
        </div>
        <br>
        {% endfor %}

    </div>
</div>
{% endblock %}