{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="columns is-mobile">
    <div class="column is-half is-offset-one-quarter">

        <div class="card">
            <div class="card-content">




                <form method="post" action="" enctype="multipart/form-data" role="form">
                    {% csrf_token %}
                    <h3 class="title is-3 has-text-centered">New Post</h3>



                    <div class="field">
                        <label class="label is-medium">Upload Content</label>
                        <div class="file is-info has-name">
                            <label class="file-label">
                                <input class="file-input" multiple required type="file" name="content" id="id_content"
                                    accept="image/*,video/*">
                                <span class="file-cta">
                                    <span class="file-icon">
                                        <i class="fas fa-upload"></i>
                                    </span>
                                    <span class="file-label">
                                        Choose file
                                    </span>
                                </span>
                                <span class="file-name">
                                    No file Chosen
                                </span>
                            </label>
                        </div>
                    </div>


                    <script>
                        const fileInput = document.querySelector('input[type=file]');
                        fileInput.onchange = () => {
                            if (fileInput.files.length > 0) {
                                const fileName = document.querySelector('.file-name');
                                fileName.textContent = fileInput.files[0].name;
                            }
                        }
                    </script>
                    <div class="field">
                        <p class="control has-icons-left">
                            <label class="label is-medium">Caption</label>
                            {{ form.caption }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <label class="label is-medium">Tags</label>
                            {{ form.tags }}
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-success" type="submit" name="action">
                                Create Post
                            </button>
                        </p>
                    </div>

                </form>





            </div>
        </div>
    </div>
</div>

{% endblock %}