{% extends 'base.html' %}
{% load static %}
{% block content %}

<article class="media">
    <div class="media-left">
        <figure class="image is-256x256">
            <img class="is-rounded"
                src="{% if profile.picture %}{{ profile.picture.url }}{% else %}{% static 'img/default.png' %}{% endif %}">
        </figure>

    </div>

    <div class="media-content media-right">
        <div class="content">
            <h1 class="title is-2">{{ profile.first_name }} {{ profile.last_name }}</h1>
            <h2 class="subtitle is-4">@{{ profile.user }}</h2>

        </div>

        <br>

        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Posts</p>
                    <p class="title">{{ posts_count }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Following</p>
                    <p class="title">{{ following_count }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Followers</p>
                    <p class="title">{{ follower_count }}</p>
                </div>
            </div>
        </nav>
        <p class="subtitle is-5">{{ profile.profile_info }}</p>
        {% if user != profile.user %}

        <div class="media-right">
            {% if follow_status is True %}
            <a href="{% url 'follow' profile.user 0 %}" class="button is-small is-danger">Unfollow</a>
            {% else %}
            <a href="{% url 'follow' profile.user 1 %}" class="button is-small is-success">Follow</a>
            {% endif %}
        </div>
        {% endif %}
        {% if user.is_authenticated and user == profile.user %}
        <a class="button is-small" href="{% url 'edit_profile' %}">Edit Profile</a>
        {% endif %}

    </div>
</article>
<br>



<div class="tabs is-centered">
    <ul>
        <li class="{% if url_name == 'profile' %}is-active{% endif %}">

            <a href="{% url 'profile' profile.user %}"><span class="material-icons"
                    style="margin-right: 3px;">dashboard</span>Posts</a>
        </li>
        {% if user == profile.user %}
        <li class="{% if url_name == 'profilefavorite' %}is-active{% endif %}">
            <a href="{% url 'profilefavorite' profile.user %}"><span class="material-icons"
                    style="margin-right: 3px;">save_alt</span>Saved</a>
        </li>
        {% endif %}
    </ul>
</div>

<section class="section">
    <div class="container">
        <div class="columns is-mobile is-multiline is-centered">

            {% for post in posts %}
            <div class="column is-one-quarter">
                <div class="box">
                    <figure class="image is-264x264">
                        <a href="{{ post.get_absolute_url }}"> <img src="{{ post.picture.url }}" alt="Image"></a>
                    </figure>
                </div>
            </div>
            {% empty %}
            <h3 class="title is-3">No posts!</h3>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}